body {
    font-family: Arial, sans-serif;
}

.video-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: black;
}